<?xml version="1.0" encoding="utf-8"?>
<packages xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <package id="NetSerializer" version="4.1.2" targetFramework="net45" allowedVersions="[4.1.2]" />
  <package id="protobuf-net" version="3.1.25" targetFramework="netstandard2.0" allowedVersions="[3.1.25]" />
  <package id="System.Text.Json" version="8.0.4" targetFramework="netstandard2.0" allowedVersions="[8.0.4]" />
  <package id="protobuf-net.Core" version="3.2.30" targetFramework="netstandard2.0" allowedVersions="[3.1.25, )" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" targetFramework="netstandard2.0" allowedVersions="[8.0.0, )" />
  <package id="System.Text.Encodings.Web" version="8.0.0" targetFramework="netstandard2.0" allowedVersions="[8.0.0, )" />
  <package id="System.Collections.Immutable" version="7.0.0" targetFramework="netstandard2.0" allowedVersions="[7.0.0, )" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="netstandard2.0" allowedVersions="[13.0.3]" />
</packages>